
# PostgreSQL
development: 
  adapter: postgresql 
  database: transportdevelopment
  host: localhost
  pool: 5
  timeout: 5000
  username: [yourusername]
  password: [yourpassword]

test:
  adapter: postgresql 
  database: transportdevelopment
  host: localhost
  pool: 5
  timeout: 5000
  username: [yourusername]
  password: [yourpassword]

production:
  adapter: postgresql 
  database: transportdevelopment
  host: localhost
  pool: 5
  timeout: 5000
  username: [yourusername]
  password: [yourpassword]
